<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/globalStyle.css" />
    <title>{{ .title }}</title>
  </head>
  <body>
    <nav class="navigation-bar">
      <div class="navigation-bar-logo-holder">
        <a class="nav-link logo-link" href="/task"
          ><img
            class="go-logo"
            src="https://pkg.go.dev/static/shared/logo/go-white.svg"
        /></a>
      </div>
      <div class="navigation-bar-items-holder">
        <a class="nav-link link-item" href="/task/taskslist"
          ><p class="navigation-bar-link-item">Your tasks</p></a
        >
        <a class="nav-link link-item" href="/task/create"
          ><p class="navigation-bar-link-item">Create a task</p></a
        >
        <a class="nav-link link-item" href="/task/completedtasks"
          ><p class="navigation-bar-link-item">Competed tasks</p></a
        >
      </div>
    </nav>
    <main class="home-page-main-container">
      <h2>Completed tasks</h2>
    </main>
  </body>
</html>
