<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/globalStyle.css" />
    <title>{{ .title }}</title>
  </head>
  <body>
    <nav class="navigation-bar">
      <div class="navigation-bar-logo-holder">
        <a class="nav-link logo-link" href="/task"
          ><img
            class="go-logo"
            src="https://pkg.go.dev/static/shared/logo/go-white.svg"
        /></a>
      </div>
      <div class="navigation-bar-items-holder">
        <a class="nav-link link-item" href="/task/taskslist"
          ><p class="navigation-bar-link-item">Your tasks</p></a
        >
        <a class="nav-link link-item" href="/task/create"
          ><p class="navigation-bar-link-item">Create a task</p></a
        >
        <a class="nav-link link-item" href="/task/completedtasks"
          ><p class="navigation-bar-link-item">Competed tasks</p></a
        >
      </div>
    </nav>
    <main class="create-page-main-container">
      <form class="create-task-form" action="/task/create" method="POST">
        <div class="form-elements-holder">
          <div class="form-element" >
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required />
          </div>
          <div class="form-element">
            <label for="description">Description</label>
            <textarea
              class="create-task-description-txtarea"
              name="description"
              id="description"
              required
            ></textarea>
          </div>
        <div class="form-element">
          <label for="title">End date</label>
          <input type="date" name="endDate" id="endDate" required />
        <div class="form-element">
          <button class="pushable" type="submit">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front">Push Me</span>
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
